body {
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 95%);
  font-size: 15px;
  margin: 0;
}

h1 {
  color: hsl(0, 0%, 95%);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  display: block;
  font-size: 38px;
  text-transform: uppercase;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.6;
}
.text {
  margin-bottom: 32%;
}
.container {
  margin: 16vh 16vw;
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.cards {
  display: flex;
  flex: 20%;
  flex-wrap: wrap;
  padding: 5%;
}

.card1 {
  background-color: hsl(31, 77%, 52%);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.card2 {
  background-color: hsl(184, 100%, 22%);
}

.card3 {
  background-color: hsl(179, 100%, 13%);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.btn1,
.btn2,
.btn3 {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  border: transparent;
  color: hsl(31, 77%, 52%);
  font-size: 15px;
  font-weight: 700;
  background: hsl(0, 0%, 95%);
  padding: 15px 30px 15px 30px;
  text-decoration: none;
  border: solid hsl(0, 0%, 95%) 1px;
}

.btn1:hover,
.btn2:hover,
.btn3:hover {
  background: transparent;
  text-decoration: none;
  color: hsl(0, 0%, 95%);
  border: solid hsl(0, 0%, 95%) 1px;
  cursor: pointer;
}

.btn2 {
  color: hsl(184, 100%, 22%);
}

.btn3 {
  color: hsl(179, 100%, 13%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}

@media screen and (max-width: 600px) {
 
  .container {
    margin: 24% 6%;
  }
  .cards {
    display: flex;
    flex: 100%;
    flex-wrap: wrap;
    padding: 15%;
  }
  .text {
    margin-bottom: 0;
  }
}